.navigation {
    margin-right: 3px;
    padding-right: 5px;
    border-left-color: #FFBE17;
    border-right-color: #FFBE17;
    border-bottom-color: #FFBE17;
    border-top-color: #FFBE17;
}

.Container {
    column-count: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
}