.rating {
    margin-bottom: 20px;
}

.Container {
    column-count: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
}

.column-left {
    float: left;
    width: 33%;
}
.column-center {
    display: inline-block;
    width: 33%;
}
column-right {
    float: right;
    width: 33%;
}

#forminput {
    color: #828282;
    font-size: 20px;
}

Button{
    font-family: Arial;
    background-color: white;
    color: black;
    border: 2px solid #FFBE17;
    transition-duration: 0.4s;
    padding: 14px 40px;
    font-weight: bold;
    margin-top: 20px;
}
Button:hover {
    background-color: #FFBE17;
    color: white;
    cursor: pointer;
}
Button:active {
    background-color: #FFBE17;
    color: white;
    transform: translateY(8px);
}