.startText {
    padding-right: 50px;
    padding-left: 50px;
}

.titleStart {
    color: #4D4D4D;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 10px !important;
}

.butStart {
    text-align: center;
}

.startBox {
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #FFBE17;
    border-bottom-color: #FFBE17;
    border-right-color: #FFBE17;
    border-left-color: #FFBE17;
    border-radius: 3px;
    height: 400px;
    padding: 15px;
}

.linkStart {
    text-decoration: none;
}

#headerpic {
    width: 100%;
    height: 250px;
    object-fit: contain;
    overflow: hidden;

}
#headerpic img {
    width: 100%;
    margin-top: -70px;
}
