button{
    font-family: Arial;
    background-color: white;
    color: black;
    border: 2px solid #FFBE17;
    transition-duration: 0.4s;
    padding: 14px 40px;
    font-weight: bold;
}
button:hover {
    background-color: #FFBE17;
    color: white;
    cursor: pointer;
}
button:active {
    background-color: #FFBE17;
    color: white;
    transform: translateY(8px);
}

.recipeCard {
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #FFBE17;
    margin-bottom: 50px !important;
}

.title {
    color: #4D4D4D;
    font-weight: bold;
    font-size: 30px;
}

.recipe {
    color: #828282;
    font-size: 20px;
}

#heading {
    padding-left: 0;
    margin-bottom: 75px;
    font-weight: bold;
}

#pic {
    width: 50%;
    height: 50%;
}